# Build output
*.zip
dist/

# Test output
test-results/
.playwright-user-data/
playwright-report/
coverage/
coverage-unit/
coverage-e2e/
.coverage-data/

# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
.coverage-unit-raw-copy
