<div
  id="virtualKeyboardChromeExtensionOverlayKr1"
  data-state="closed"
  class="virtualKeyboardChromeExtensionOverlay"
  style="display: none"
>
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase keyCaseDisplay"
      data-action="key"
      data-key="ㅅ"
      data-key-shift="ㅉ"
    >
      ㅅ
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase keyCaseDisplay"
      data-action="key"
      data-key="쇼"
      data-key-shift="쑈"
    >
      쇼
    </li>
  </ul>
</div>
<div
  id="virtualKeyboardChromeExtensionOverlayKr2"
  data-state="closed"
  class="virtualKeyboardChromeExtensionOverlay"
  style="display: none"
>
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="ㅎ"
    >
      ㅎ
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="호"
    >
      호
    </li>
  </ul>
</div>
<div
  id="virtualKeyboardChromeExtensionOverlayKr3"
  data-state="closed"
  class="virtualKeyboardChromeExtensionOverlay"
  style="display: none"
>
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="ㅍ"
    >
      ㅍ
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="퓨"
    >
      퓨
    </li>
  </ul>
</div>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td
      class="kbdH kdbCase kbdClick keyCaseDisplay"
      data-key="ㅂ"
      data-key-shift="ㅃ"
    >
      <span>ㅂ</span>
    </td>
    <td
      class="kbdH kdbCase kbdClick keyCaseDisplay"
      data-key="ㅈ"
      data-key-shift="ㅉ"
    >
      <span>ㅈ</span>
    </td>
    <td
      class="kbdH kdbCase kbdClick keyCaseDisplay"
      data-key="ㄷ"
      data-key-shift="ㄸ"
    >
      <span>ㄷ</span>
    </td>
    <td
      class="kbdH kdbCase kbdClick keyCaseDisplay"
      data-key="ㄱ"
      data-key-shift="ㄲ"
    >
      <span>ㄱ</span>
    </td>
    <td
      class="kbdH kdbCase kbdClick kMenu keyCaseDisplay"
      data-key="ㅅ"
      data-key-shift="ㅆ"
      data-menu="Kr1"
    >
      <span>ㅅ</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅛ"><span>ㅛ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅕ"><span>ㅕ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅑ"><span>ㅑ</span></td>
    <td
      class="kbdH kdbCase kbdClick keyCaseDisplay"
      data-key="ㅐ"
      data-key-shift="ㅒ"
    >
      <span>ㅐ</span>
    </td>
    <td
      class="kbdH kdbCase kbdClick keyCaseDisplay"
      data-key="ㅔ"
      data-key-shift="ㅖ"
    >
      <span>ㅔ</span>
    </td>
    <td class="kbdHB kbdClick" data-key="Backspace"><span>Backspace</span></td>
  </tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td style="width: 1px"><span></span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅁ"><span>ㅁ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㄴ"><span>ㄴ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅇ"><span>ㅇ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㄹ"><span>ㄹ</span></td>
    <td class="kbdH kdbCase kbdClick kMenu" data-key="ㅎ" data-menu="Kr2">
      <span>ㅎ</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅗ"><span>ㅗ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅓ"><span>ㅓ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅏ"><span>ㅏ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅣ"><span>ㅣ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="'"><span>'</span></td>
    <td class="kbdHBE kbdClick" data-key="Enter"><span>Enter</span></td>
  </tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdShift kbdClick" data-key="Shift">
      <span class="kShift"></span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅋ"><span>ㅋ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅌ"><span>ㅌ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅊ"><span>ㅊ</span></td>
    <td class="kbdH kdbCase kbdClick kMenu" data-key="ㅍ" data-menu="Kr3">
      <span>ㅍ</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅠ"><span>ㅠ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅜ"><span>ㅜ</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ㅡ"><span>ㅡ</span></td>
    <td class="kbdH kbdClick" data-key=","><span>,</span></td>
    <td class="kbdH kbdClick" data-key="."><span>.</span></td>
    <td class="kbHideEmailInput kbdH kbdClick" data-key="?"><span>?</span></td>
    <td class="kbEmailInput kbdH kbdClick" data-key="@"><span>@</span></td>
    <td id="urlButton" class="kbdH kbdClick" data-key="Url">
      <span>URL</span>
    </td>
    <td class="kbdShift kbdClick" data-key="Shift">
      <span class="kShift"></span>
    </td>
  </tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdD kbdClick" data-key="&123">
      <span class="kAbc">&123</span>
    </td>
    <td
      width="10"
      id="settingsButton"
      data-menu="Settings"
      class="kbdD kbdClick kSettings kMenu"
      data-key="empty"
    >
      <span></span>
    </td>
    <td class="kbdS kbdClick" data-key=" "><span></span></td>
    <td class="kbdD kbdClick" data-key="Close"><span class="kClose"></span></td>
  </tr>
</table>
