<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdH kdbCase kbdClick" data-key="й" data-key-shift="Й">
      <span>й</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="ц" data-key-shift="Ц">
      <span>ц</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="у" data-key-shift="У">
      <span>у</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="к" data-key-shift="К">
      <span>к</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="е" data-key-shift="Е">
      <span>е</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="н" data-key-shift="Н">
      <span>н</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="г" data-key-shift="Г">
      <span>г</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="ш" data-key-shift="Ш">
      <span>ш</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="щ" data-key-shift="Щ">
      <span>щ</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="з" data-key-shift="З">
      <span>з</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="х" data-key-shift="Х">
      <span>х</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="ї" data-key-shift="Ї">
      <span>ї</span>
    </td>
    <td class="kbdHBS kbdClick" data-key="Backspace"><span>Backspace</span></td>
  </tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td style="width: 1px"><span></span></td>
    <td class="kbdH kdbCase kbdClick" data-key="ф" data-key-shift="Ф">
      <span>ф</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="і" data-key-shift="І">
      <span>і</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="в" data-key-shift="В">
      <span>в</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="а" data-key-shift="А">
      <span>а</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="п" data-key-shift="П">
      <span>п</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="р" data-key-shift="Р">
      <span>р</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="о" data-key-shift="О">
      <span>о</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="л" data-key-shift="Л">
      <span>л</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="д" data-key-shift="Д">
      <span>д</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="ж" data-key-shift="Ж">
      <span>ж</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="є" data-key-shift="Є">
      <span>є</span>
    </td>
    <td class="kbdHBE kbdClick" data-key="Enter"><span>Enter</span></td>
  </tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdShift kbdClick" data-key="Shift">
      <span class="kShift"></span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="я" data-key-shift="Я">
      <span>я</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="ч" data-key-shift="Ч">
      <span>ч</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="с" data-key-shift="С">
      <span>с</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="м" data-key-shift="М">
      <span>м</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="и" data-key-shift="И">
      <span>и</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="т" data-key-shift="Т">
      <span>т</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="ь" data-key-shift="Ь">
      <span>ь</span>
    </td>
    <td class="kbdH kbdClick" data-key="б" data-key-shift="Б">
      <span>б</span>
    </td>
    <td class="kbdH kbdClick" data-key="ю" data-key-shift="Ю">
      <span>ю</span>
    </td>
    <td class="kbHideEmailInput kbdH kbdClick" data-key="?"><span>?</span></td>
    <td class="kbEmailInput kbdH kbdClick" data-key="@"><span>@</span></td>
    <td id="urlButton" class="kbdH kbdClick" data-key="Url">
      <span>URL</span>
    </td>
    <td class="kbdShift kbdClick" data-key="Shift">
      <span class="kShift"></span>
    </td>
  </tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdD kbdClick" data-key="&123">
      <span class="kAbc">&123</span>
    </td>
    <td
      width="10"
      id="settingsButton"
      data-menu="Settings"
      class="kbdD kbdClick kSettings kMenu"
      data-key="empty"
    >
      <span></span>
    </td>
    <td class="kbdH kbdClick" data-key="."><span>.</span></td>
    <td class="kbdS kbdClick" data-key=" "><span></span></td>
    <td class="kbdH kbdClick" data-key=","><span>,</span></td>
    <td class="kbdD kbdClick" data-key="Close"><span class="kClose"></span></td>
  </tr>
</table>
