<div
  id="virtualKeyboardChromeExtensionOverlayItA"
  data-state="closed"
  class="virtualKeyboardChromeExtensionOverlay"
  style="display: none"
>
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="a"
    >
      a
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&agrave;"
      data-key-shift="&Agrave;"
    >
      &agrave;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&aacute;"
      data-key-shift="&Aacute;"
    >
      &aacute;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&acirc;"
      data-key-shift="&Acirc;"
    >
      &acirc;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&auml;"
      data-key-shift="&Auml;"
    >
      &auml;
    </li>
  </ul>
</div>

<div
  id="virtualKeyboardChromeExtensionOverlayItE"
  data-state="closed"
  class="virtualKeyboardChromeExtensionOverlay"
  style="display: none"
>
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="e"
    >
      e
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&eacute;"
      data-key-shift="&Eacute;"
    >
      &eacute;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&egrave;"
      data-key-shift="&Egrave;"
    >
      &egrave;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&euml;"
      data-key-shift="&Euml;"
    >
      &euml;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&ecirc;"
      data-key-shift="&Ecirc;"
    >
      &ecirc;
    </li>
  </ul>
</div>

<div
  id="virtualKeyboardChromeExtensionOverlayItI"
  data-state="closed"
  class="virtualKeyboardChromeExtensionOverlay"
  style="display: none"
>
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="i"
    >
      i
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&igrave;"
      data-key-shift="&Igrave;"
    >
      &igrave;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&iacute;"
      data-key-shift="&Iacute;"
    >
      &iacute;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&icirc;"
      data-key-shift="&Icirc;"
    >
      &icirc;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&iuml;"
      data-key-shift="&Iuml;"
    >
      &iuml;
    </li>
  </ul>
</div>

<div
  id="virtualKeyboardChromeExtensionOverlayItO"
  data-state="closed"
  class="virtualKeyboardChromeExtensionOverlay"
  style="display: none"
>
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="o"
    >
      o
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&ograve;"
      data-key-shift="&Ograve;"
    >
      &ograve;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&ouml;"
      data-key-shift="&Ouml;"
    >
      &ouml;
    </li>
  </ul>
</div>

<div
  id="virtualKeyboardChromeExtensionOverlayItU"
  data-state="closed"
  class="virtualKeyboardChromeExtensionOverlay"
  style="display: none"
>
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="u"
    >
      u
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&ugrave;"
      data-key-shift="&Ugrave;"
    >
      &ugrave;
    </li>
    <li
      class="virtualKeyboardChromeExtensionOverlayButton kdbCase"
      data-action="key"
      data-key="&uuml;"
      data-key-shift="&Uuml;"
    >
      &uuml;
    </li>
  </ul>
</div>

<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdH kdbCase kbdClick" data-key="q"><span>q</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="w"><span>w</span></td>
    <td class="kbdH kdbCase kbdClick kMenu" data-menu="ItE" data-key="e">
      <span>e</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="r"><span>r</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="t"><span>t</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="y"><span>y</span></td>
    <td class="kbdH kdbCase kbdClick kMenu" data-menu="ItU" data-key="u">
      <span>u</span>
    </td>
    <td class="kbdH kdbCase kbdClick kMenu" data-menu="ItI" data-key="i">
      <span>i</span>
    </td>
    <td class="kbdH kdbCase kbdClick kMenu" data-menu="ItO" data-key="o">
      <span>o</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="p"><span>p</span></td>
    <td class="kbdHB kbdClick" data-key="Backspace"><span>Backspace</span></td>
  </tr>
</table>

<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td style="width: 1px"><span></span></td>
    <td class="kbdH kdbCase kbdClick kMenu" data-menu="ItA" data-key="a">
      <span>a</span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="s"><span>s</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="d"><span>d</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="f"><span>f</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="g"><span>g</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="h"><span>h</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="j"><span>j</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="k"><span>k</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="l"><span>l</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="'"><span>'</span></td>
    <td class="kbdHBE kbdClick" data-key="Enter"><span>Enter</span></td>
  </tr>
</table>

<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdShift kbdClick" data-key="Shift">
      <span class="kShift"></span>
    </td>
    <td class="kbdH kdbCase kbdClick" data-key="z"><span>z</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="x"><span>x</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="c"><span>c</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="v"><span>v</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="b"><span>b</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="n"><span>n</span></td>
    <td class="kbdH kdbCase kbdClick" data-key="m"><span>m</span></td>
    <td class="kbdH kbdClick" data-key=","><span>,</span></td>
    <td class="kbdH kbdClick" data-key="."><span>.</span></td>
    <td class="kbHideEmailInput kbdH kbdClick" data-key="?"><span>?</span></td>
    <td class="kbEmailInput kbdH kbdClick" data-key="@"><span>@</span></td>
    <td id="urlButton" class="kbdH kbdClick" data-key="Url">
      <span>URL</span>
    </td>
    <td class="kbdShift kbdClick" data-key="Shift">
      <span class="kShift"></span>
    </td>
  </tr>
</table>

<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdD kbdClick" data-key="&123">
      <span class="kAbc">&123</span>
    </td>
    <td
      width="10"
      id="settingsButton"
      data-menu="Settings"
      class="kbdD kbdClick kSettings kMenu"
      data-key="empty"
    >
      <span></span>
    </td>
    <td class="kbdS kbdClick" data-key=" "><span></span></td>
    <td class="kbdD kbdClick" data-key="Close"><span class="kClose"></span></td>
  </tr>
</table>
