<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td class="kbdH kdbCase kbdClick" data-key="q"><span>q</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="w"><span>w</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="e"><span>e</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="r"><span>r</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="t"><span>t</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="y"><span>y</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="u"><span>u</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="i"><span>i</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="o"><span>o</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="p"><span>p</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="&aring;" data-key-shift="&Aring;"><span>&aring;</span></td>
		<td class="kbdHB kbdClick" data-key="Backspace"><span>Backspace</span></td>
	</tr>
</table>	
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td style="width: 1px"><span></span></td>
		<td class="kbdH kdbCase kbdClick" data-key="a"><span>a</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="s"><span>s</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="d"><span>d</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="f"><span>f</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="g"><span>g</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="h"><span>h</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="j"><span>j</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="k"><span>k</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="l"><span>l</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="&oslash;" data-key-shift="&Oslash;"><span>&oslash;</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="&aelig;" data-key-shift="&Aelig;"><span>&aelig;</span></td>
		<td class="kbdHBE kbdClick" data-key="Enter"><span>Enter</span></td>
	</tr>
</table>	
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td class="kbdShift kbdClick" data-key="Shift"><span class="kShift"></span></td>
		<td class="kbdH kdbCase kbdClick" data-key="z"><span>z</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="x"><span>x</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="c"><span>c</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="v"><span>v</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="b"><span>b</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="n"><span>n</span></td>
		<td class="kbdH kdbCase kbdClick" data-key="m"><span>m</span></td>
		<td class="kbdH kbdClick" data-key=","><span>,</span></td>
		<td class="kbdH kbdClick" data-key="."><span>.</span></td>
		<td class="kbHideEmailInput kbdH kbdClick" data-key="?"><span>?</span></td>
		<td class="kbEmailInput kbdH kbdClick" data-key="@"><span>@</span></td>
		<td id="urlButton" class="kbdH kbdClick" data-key="Url"><span>URL</span></td>
		<td class="kbdShift kbdClick" data-key="Shift"><span class="kShift"></span></td>
	</tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>	
		<td class="kbdD kbdClick" data-key="&123"><span class="kAbc">&123</span></td>
		<td width="10" id="settingsButton" data-menu="Settings" class="kbdD kbdClick kSettings kMenu" data-key="empty"><span></span></td>
		<td class="kbdS kbdClick" data-key=" "><span></span></td>
		<td class="kbdD kbdClick" data-key="Close"><span class="kClose"></span></td>
	</tr>
</table>

